@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

/*text formating global ---------------------------*/
h2{
  color: #0F0F0F;
  font-family: 'Press Start 2P', sans-serif;
}
h3{
  color: #0F0F0F;
  font-family: 'Press Start 2P', sans-serif;
}
p{
  color: #0F0F0F;
  font-family: 'Exo', sans-serif;
}
a{
  text-decoration: none;
}

button {
    border-radius: 20px;
    text-decoration: none;
    border: none;
}

#text{
  color: #A799B5;
  font-family: 'Exo', sans-serif;
}
/*footer and body global---------------------------*/
footer {
  position: relative;
  text-align: center;
  padding-bottom: 2.5rem;
  background-color: #23272a;
  color: #C8C8C8;
}

/*side scroller ---------------------------*/
::-webkit-scrollbar {
  height: 4px;
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #23272a;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #141822;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #141822;
}
